.light {
  height: 100px;
  width: 100px;
  background-color: #ffe9c5;
  position: relative;
}

.dark {
  height: 100px;
  width: 100px;
  background-color: #ffce84;
  position: relative;
}

.piece {
  font-size: 70px;
  display: table;
  margin: 0 auto;
  padding-top: 10spx;
}

.isEligible {
  background-color: rgba(130, 175, 6, 0.8);
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
