.container {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #ffe9c5;
  height: 100%;
  width: 100%;
}

.moves {
  width: 400px;
  background: #ffe9c5;
  border-left: 4mm ridge rgba(130, 175, 6, 0.712);
  max-height: 100vh;
  overflow: auto;
}

.moves-title {
  text-align: center;
}

.board-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.board {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.files {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 16px;
  font-size: 20px;
}

.ranks {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}

/* .result {
  width: 600px;
  height: 200px;
  top: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
} */
